.image {
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.contact {
    text-align: center;
}

.item {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.contact-icon {
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.contact-text {
	display: inline-block;
	vertical-align: middle;
}

@media all and (max-width: 767px) {
	.image {
		width: 80vw;
        height: 37vw;
        margin-top: 8vw;
        margin-bottom: 10vw;
    }

    .contact {
        text-align: left;
        padding-left: 10vw;
    }
    
    .item {
        margin-bottom: 3vw;
    }

	.contact-icon {
		width: 7vw;
		height: 7vw;
	}

	.contact-text {
		font-size: 5vw;
		margin-left: 2vw;
	}
}

@media all and (min-width: 768px) {
    .center {
        width: 100vw;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	.center {
		margin-top: 0;
	}

	.image {
		width: 55vw;
		height: 25vw;
		margin-bottom: 10vw;
    }

    .instagram-container {
        width: 100vw;
        margin: 6vw auto;
        overflow-y: auto;
    }

    .instagram-container .item {
        display: block;
        float: left;
        width: 50vw;
        margin-bottom: 3vw;
    }

    .instagram-container .item:nth-child(odd) {
        text-align: left;
        padding-left: 5vw;
    }

    .instagram-container .item:nth-child(even) {
        padding-left: 5vw;
        text-align: left;
    }

    .email-container {
        margin-top: 6vw;
    }

    .email-container .item:nth-child(1) {
        margin-bottom: 3vw;
    }

	.contact-icon {
		width: 5vw;
		height: 5vw;
	}

	.contact-text {
		font-size: 3.5vw;
		margin-left: 1vw;
    }
    
    .separator {
        margin: 3vw 0;
    }
}

@media all and (min-width: 1025px) {
	.image {
		width: 300px;
		height: 141px;
		margin-bottom: 50px;
    }
    
    .item {
        margin-bottom: 10px;
    }

    .instagram-container {
        width: 900px;
        margin: 40px auto;
        overflow-y: auto;
    }

    .instagram-container-1 {
        margin-top: 40px;
    }

    .instagram-container-2 {
        margin-bottom: 40px;
    }

    .instagram-container .item {
        display: block;
        float: left;
        width: 300px;
        margin-bottom: 20px;
        text-align: center;
    }

    .instagram-container .item:nth-last-child(1) {
        margin-right: 0;
    }

    .email-container {
        margin-top: 40px;
    }

    .email-container .item:nth-child(1) {
        margin-right: 50px;
    }

	.contact-icon {
		width: 30px;
		height: 30px;
	}

	.contact-text {
		font-size: 14pt;
		margin-left: 5px;
	}

	.separator {
		margin: 10px 0;
	}
}